.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }
  &__description {
    position: relative;
    font-weight: normal;
    top: -20px;
    background-color: cornflowerblue;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0px;
  }

  &:hover {
    font-weight: bold;
    background-color: red;
  }
}

.delete__event-btn {
  position: relative;
  top: -42px;
  right: -80px;
  cursor: pointer;
  border: none;
}